.calendar .days .dates .unit{
	color:green;
}
.calendar .days .unit.full,.calendar .days .unit.disabled,.calendar .days .unit.holiday{
	color:red;
}
.modal-blind{
	position: fixed;
	width:100%;
	height:100%;
	background: white;
	opacity: 0.5;
	top:0;
	left: 0;
	display: none;
}
.right-content>h3{
	padding-top:0px;
	margin-top:0px;
}